
@font-face {
        font-display: block;
        font-family: Roboto;
        src: url(https://assets.sendinblue.com/font/Roboto/Latin/normal/normal/7529907e9eaf8ebb5220c5f9850e3811.woff2) format("woff2"), url(https://assets.sendinblue.com/font/Roboto/Latin/normal/normal/25c678feafdc175a70922a116c9be3e7.woff) format("woff")
        }

@font-face {
        font-display: fallback;
        font-family: Roboto;
        font-weight: 600;
        src: url(https://assets.sendinblue.com/font/Roboto/Latin/medium/normal/6e9caeeafb1f3491be3e32744bc30440.woff2) format("woff2"), url(https://assets.sendinblue.com/font/Roboto/Latin/medium/normal/71501f0d8d5aa95960f6475d5487d4c2.woff) format("woff")
        }

@font-face {
        font-display: fallback;
        font-family: Roboto;
        font-weight: 700;
        src: url(https://assets.sendinblue.com/font/Roboto/Latin/bold/normal/3ef7cf158f310cf752d5ad08cd0e7e60.woff2) format("woff2"), url(https://assets.sendinblue.com/font/Roboto/Latin/bold/normal/ece3a1d82f18b60bcce0211725c476aa.woff) format("woff")
        }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --black: var(--black);
    --white: var(--white);
}
body{
    overflow-x: hidden;
    background-color: #262626;

}
.container{
    height: 100vh;
}
.carousel-container{
    height: 100%;
    width: 500%;
    display: flex;
    position: relative;
    cursor: grab;
    transition: transform 1s ease-out;
}
.slide{
    position: relative;
    height: 100%;
    font-size: 3rem;
    font-weight: 400;
    background-position: center;
}
.text1, .text2, .text3, .text4{
    font-size: 12.5rem;
    line-height: 1.3 !important;
    position: absolute;
    padding-left: 1.25rem;
    opacity: 0;
    transition-property: opacity;
    transition-delay: 1s;
}
.text1{
    top: 6%;
    left: 10%;
    animation-delay: .1s !important;
}
.text2{
    top: 35%;
    left: 3%;
    animation-delay: .2s !important;
}
.text3{
    top: 35%;
    right: 3%;
    animation-delay: .3s !important;

}
.text4{
    bottom: 4%;
    left: 50%;
    animation-delay: .5s !important;
}
.box{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255,255,255,.4);
    border-radius: .3125rem;
    min-width: 12.5rem;
    padding: 1.25rem;
    padding-top: .75rem;
    width: 33.333%;
    position: absolute;
    bottom: 3.125rem;
    left: 2.5rem;
    cursor: pointer;
}
.box:hover{
    background-color: #1c1c1c33;
    border-color: #fff9;
}
.box:hover .box-arrow{
    transform: translateX(10px);
}
.box-heading{
    font-size: 3rem;
    width: 86.666%;
    margin-bottom: .625rem;
    font-family: '';
}
.box-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.box-text{
    width: 86.66%;

}
.box-arrow{
    font-size: 150%;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 10px;
    transition: transform .6s cubic-bezier(.075,.82,.165,1);
}
.carousel-nav{
    position: absolute;
    display: flex;
    height: 20px;
    width: 200px;
    justify-content: space-around;
    align-items: center;
    top: 90%;
    right: 22%;
}
.nav-btn{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    cursor: pointer;
    border: 0.5px solid #898989;
  }


  @keyframes upward{
    from{
        transform: translateY(100%);
        opacity: 0;
    }

    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes downward{
    from{
        transform: translateY(0);
        opacity: 1;
    }

    to{
        transform: translateY(100%);
        opacity: 0;
    }
}
@keyframes moveRight{
    from{
        transform: translateX(-100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes moveLeft{
    from{
        transform: translateX(0);
        opacity: 1;
    }
    to{
        transform: translateX(-100%);
        opacity: 0;
    }
}